body{
    font-family:Arial,sans-serif;
text-align: center;
background:#fdfdfd;
padding:20px;
}
form{
    margin-bottom: 20px;
}
form{
     margin-bottom: 20px;
    }
input[type = "text"]{
    padding: 10px;
    width: 60%;
    border: 2px solid #000000;
    border-radius: 20px;
}
button{padding: 10px 15px;
    background-color: #ff0000;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
button:hover {
    background-color: #ff0000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px auto;
    padding: 10px;
    width: 70%;
    background: #f0c6c6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    margin-left: 10px;
    color: #555;
}


